.modal {
  display: absolute;
  top: 80%;
  width: 400px;
  height: fit-content;
  border-radius: 10px;
  margin: auto;
}

.form {
  /* padding: 4px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.inputFieldContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inputField {
  width: 100%;
  border-radius: 5px;
}

.feedbackSubmitButton {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 13px 14px 13px 14px;
  border: none;
  border-radius: 12px;
  width: 192px;
  cursor: pointer;
}
