:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}
